== turbo_stream.replace "#{dom_id(@charging)}_item"
  == render "charging", charging: @charging
== turbo_stream.replace "messagesContainer"
  div[class="alert alert-dismissable alert-success"] Charging was successfully updated.