/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require logo
 *= require navbar
 *= require edit_user
 *= require sign_up
 *= require login
 *= require confirmation
 *= require button_homepage
 */

 @font-face {
  font-family: "Simplifica";
  src: url(/assets/fonts/Simplifica-Typeface.ttf) format("truetype");
}
 
/* .home {
  background: url(UnderConstruction.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}  */

div.a{
  float: inline-start; 
  margin: 30px;  
}

button.del{
  font-family: Simlifica;
  font-size:1.8em;
  display:block;
  left:-60px;
  margin-top:25px;
  width:100%;    
  background-color: #d9534f;  
  color:black;
  border-radius: 12px;
}
button.del:hover{
  background-color: #f0ad4e;
  color: white;
}

a.btn.ed{
  font-family: Simlifica;
  font-size:1.5em;
  display:block;
  left:-60px;
  margin-top:25px;
  width:100%;    
  background-color: #292b2c;  
  color:white;
  border-radius: 12px;
}
a.btn.ed:hover{
  background-color:  white;
  color: black;
}
