/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require logo
 *= require navbar
 *= require edit_user
 *= require sign_up
 *= require login
 *= require confirmation
 *= require buttons_homepage
 *= car_views
 *= about
 */

@font-face {
  font-family: "Simplifica";
  src: url(/assets/fonts/Simplifica-Typeface.ttf) format("truetype");
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3%;
  width: 100%;
}

/* Pagination */

div.next {
  position: relative;
  left: 30px;
  margin-top: 20px;
  font-family: Simlifica;
}

.pagination a,
.pagination span.current,
.pagination span.gap {
  color: black;
}

.circular {
  margin-bottom: 30px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

/* Statistics */

#leftcolumn {
  display: inline-block;
  border: 1px black solid;
  width: 25%;
  height: 100%;
  background: beige;
  vertical-align: top;
}

#contentwrapper {
  /* display:inline-block;
  margin-left: 100px; */
  display: inline-block;
  width: 25%;
  height: 100%;
  border: 1px black solid;
  background: aliceblue;
  vertical-align: top;
}

#contentwrapper1 {
  /* display:inline-block;
  margin-left: 100px; */
  display: inline-block;
  width: 25%;
  height: 100%;
  border: 1px black solid;
  background: rgb(246, 225, 215);
  vertical-align: top;
}


div.stat {
  font-family: Simlifica;
  position: relative;
  font-size: 2vw;
  margin-top: 10px;
  margin-left: 300px;
}
