/* Edit login page */
div.login {
    position: relative;
    left: 20px;
    top: 2px;
    margin-top: 20px;
    font-family: 'Brush Script MT', cursive;
    font-size: 2vw;
   
  }
  
  div.mid {
    position:relative; 
    left:20px;
    top:2px;
    margin-top: 20px;
  }
  
  div.midl{
    margin-top: 60px;
  }
  
  p.link-info{
    font-size: 1.28vw;
  }
  
  /* h1.login {
    font-size: 3vw;
  } */
  

  button.login{
    font-family: 'Brush Script MT', cursive;
    font-size:0.7em;
    display:block;
    left:-60px;
    margin-top:25px;
    width:34%;    
    background-color: #bfeaf8;  
    color:black;
    border-radius: 12px;
  }

  button.login:hover{
    background-color: #0d6684; 
    color: white;

  }
/*Shine */

h1 {  
  position: relative;
  font-family: Brush Script MT, cursive;
  font-size: 3vw;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #f89f8d, #fff, #86c4f0);
  background-repeat: repeat;
  background-size: 80%;
  animation: animate 4s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
    background-position: -600%;
  }
  100% {
    background-position: 600%;
  }
}